# If CI has peer-deps trouble, uncomment the next line
# legacy-peer-deps=true

# If you prefer to force install devDependencies on Netlify, you can also use:
# NPM_FLAGS=--include=dev (set in netlify.toml or Netlify UI)
